<%= wrap_slot do |slot| %>

  <div class="card-header"><h1>Welcome, Wagneer! To get started, set up an account.</h1></div>
  
  <%= form_for :card do |f| %>
    <%- slot.form = f %>
  
    <div class="card-body">
      <%= raw error_messages_for( @card ) %>

      <%= raw slot._render_name_editor( :help=>'usually first and last name' ) %>
      <%= raw slot._render_account_detail( :account=>@account, :setup=>true )%>
    </div>
    
    <fieldset><div class="button-area"><%= submit_tag 'Create' %></div></fieldset>
  <% end %>
<% end %>
