<h1 class="page-header"> Welcome To Wagn </h1>

<%= raw error_messages_for(@account) %>

<%= wrap_slot do |slot| %>

  <div class="open-content">
    <h2 class="page-header">To get started, set up an account. </h2><%#ENGLISH%>

    <%= form_tag :id=>params[:id], :action => "setup" do %>
      <table class="fieldset">
        <%- option_content = capture do %>
          <%= text_field :card, :name %>
        <% end %>
        <%= raw( slot.option(option_content,
            :name=>"name",
            :help=>"<strong>Title for user's card</strong><br/> Usually a full name.", #ENGLISH
            :label=>"Name")) %>
        <%= render :partial=>'account/edit', :locals=>{:slot=>slot, :card=>card} %>
      </table>

      <%= submit_tag 'Create' %>
    <% end %>
  </div>
<% end %>
