<style>
  td {
    padding: 10px;
    border: 1px solid grey;
  }
</style>
<% if @cache_card && @db_card %>
  <table>
    <tr>
      <th>Field</th>
      <th>Cache Val</th>
      <th>Database Val</th>
    </tr>
    <%- [ :name, :updated_at, :updater_id, :current_revision_id, :content ].each do |field| %>
      <tr>
        <td><%= field %></td>
        <td><%= @cache_card.send field %></td>
        <td><%= @db_card.send field %></td>
      </tr>
    <%- end %>
  </table>
<% end %>
<br><br>

<h1>Cached Card Inspect</h1>
<%= h @cache_card.inspect %>

<br><br>
<h1>Database Card Inspect</h1>
<%= h @db_card.inspect %>
