<h1 class="page-header">Global Permissions</h1> <%#ENGLISH%>

<% form_tag :action=>'save_tasks' do %>
  
  <table id="role_task">
    <tr>
      <th></th>
      <% for role in @roles %>
        <th class="role"><%= link_to_page role.card.name %></th>
      <% end %>
    </tr>
  
    <% c=1%>
    <% for task in  @tasks %>
      <tr class="<%= c%2>0 ? 'table-row-odd' : '' %>">
        <td class="task"><%= task.gsub(/_/,' ') %></td>
        <% for role in @roles %>
          <td class="role">
            <%= check_box_tag ("role_task[%s][%s]" % [role.id, task]), 1, 
              @role_tasks[role.id].member?(task) ? true : false %>
          </td>
        <% end %>
      </tr>
      <% c+=1 %>
    <% end %>
    
  </table>
  
  <%= submit_tag %>
    
<% end %>
 
