<p>
  <a href="{{_card_url}}">{{_name}}</a>
  was just
  <% if @action=='edited' %>
    <a href="<%= @change_url %>"><%= @action %></a>
  <% else %>
    <%= @action %>
  <% end %>
  by <a href="{{_updater_url}}">{{_updater}}</a>
</p>

<% if @subedits.present? %> <%#ENGLISH%>
  <p>This update included the following changes:</p>
  <ul>
    <% @subedits.each do |name, action| %>
    <li><%= action %> <%= name %></li>
    <% end %>
  </ul>
<% end %>

<p>See the card: {{_card_url}}</p>

<p>
  You received this email because you're following "{{_watched}}". <br/>
  <a href="{{_unwatch_url}}">Unfollow</a> to stop receiving these emails.
</p>