<!DOCTYPE html>
<html>
  <body>

    <p>
      <a href="<%= @card_url %>"><%= @card.name %></a>
      was just
      <%- if @action=='edited' -%>
        <a href="<%= @change_url %>"><%= @action %></a>
      <%- else -%>
        <%= @action %>
      <%- end -%>
      by <a href="<%= @updater_url %>"><%= @updater %></a>
    </p>

    <%- if @subedits.present? -%> <%#ENGLISH%>
      <p>This update included the following changes:</p>
      <ul>
        <%- @subedits.each do |name, action| -%>
        <li><%= action %> <%= name %></li>
        <%- end -%>
      </ul>
    <%- end -%>

    <p>See the card: <%= @card_url %></p>

    <p>
      You received this email because you're watching "<%= @watched %>". <br/>
      <a href="<%= @unwatch_url %>">Unwatch</a> to stop receiving these emails.
    </p>
  </body>
</html>