<%= form_for card, :url=>"/card/create_or_update", :remote=>true, :html=>{ :class=>"card-form card-rule-form #{edit_mode ? 'standard-slotter' : ''}" } do |form| %>
  <%= hidden_field_tag :success, open_rule.name %>
  <%= hidden_field_tag :view, 'open_rule' %>
  <div>
    <div class="rule-column-1">
      <div class="rule-setting">
        <%= link_to( setting_name,
          "/card/view/#{open_rule.cardname.to_url_key}?view=closed_rule",
          :class => 'close-rule-link standard-slotter', :remote => true) %>
      </div>
    
      <ul class="set-editor">
        <% if edit_mode %>
          <label>apply to:</label>
          <%- set_options.each do |set_name| %>
            <%- set_label =Card.fetch(set_name).label %>
            <li>
              <%= form.radio_button :name, "#{set_name}+#{setting_name}", :checked=>(current_set_key && set_options.length==1) %>
              <% if set_name.to_cardname.to_key == current_set_key %>
                <span class="set-label current-set-label"><%= set_label%> <em>(current)</em></span>
              <% else %>
                <span class="set-label"><%= set_label%></span>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <label>applies to:</label>
          <span class="set-label current-set-label"><%= current_set_key ? Card.fetch(current_set_key).label : 'No Current Rule' %></span>
        <% end %>
      </ul>
    </div>

    <div class="rule-column-2">
      <div class="instruction rule-instruction">
        <%= raw slot.process_content "{{#{setting_name}+*right+*edit help}}" %>
      </div>
      
      <div class="type-editor">
        <% if edit_mode %>
          <label>type:</label>
          <%= raw slot.typecode_field( 
            :class =>'cardtype-field rule-cardtype-field live-cardtype-field',
            :href  =>"/card/view/#{open_rule.cardname.to_url_key}?view=open_rule&type_reload=true" 
            ) %>
        <% elsif current_set_key %>
          <label>type:</label>
          <span class="rule-type"><%= current_set_key ? card.typename : '' %></span>
        <% end %>
      </div>
        
      <div class="content-editor">
        <%= raw( edit_mode ? slot.content_field(form) : (current_set_key ? slot.render_content : '') ) %>
      </div>

    </div>
  </div>

  <% if edit_mode || params[:success] %>
    <div class="edit-button-area">
      <% if params[:success] %>
        <%= button_tag 'Edit', :class=>'rule-edit-button standard-slotter', :type=>'button', :remote=>true,
          :href => "/card/view/#{CGI.escape(open_rule.cardname.to_url_key)}?view=open_rule" %>
        <%= button_tag 'Close', :class=>'rule-cancel-button', :type=>'button' %>
      <% else %>
        <% if !card.new_card? %>
          <span class='rule-delete-section'>
            <%= button_tag 'Delete', :class=>'rule-delete-button standard-slotter', :type=>'button', :remote=>true,
              :href => "/card/remove/#{card.id}?success=#{CGI.escape(open_rule.cardname.to_url_key)}&view=open_rule",
              'data-confirm'=>("Deleting will revert to #{setting_name} rule for #{ Card.fetch(fallback_set).label }" if fallback_set) 
              %>
          </span>
        <% end %>
        <%= submit_tag 'Submit', :class=>'rule-submit-button' %> <%#>, :type=>'button' %>
        <%= button_tag 'Cancel', :class=>'rule-cancel-button', :type=>'button' %>
      <% end %>
    </div>
  <% end %>

  <%= raw slot.notice %>


    
<% end %>


