<%-
   args={}
   args[:home_view] if params[:home_view]
   redirect ||= false
   slot ||= get_slot(card)
%>

<% wrap_slot(slot, args) do |s| %>
    <% @title = "New Card" %>
    <%= error_messages_for @card %>

    <%= form_for card, :url=>"/card/create", :remote=>true, :html=>{ :class=>'card-form card-new-form standard-slotter' } do |form| %>
      <%- s.form = form %>
      <%= hidden_field_tag :home_view, params[:home_view] || :open %>
      <% if redirect %><%= hidden_field_tag :redirect, redirect %><% end %>
    
      <div class="card-header">
        <% if (request and !request.xhr?) && @args[:type] #&& !card.broken_type %>
          <%= hidden_field_tag 'card[type]', @args[:type] %>
        <% else %>
          <span class="new-type">
            <span class="label"> type:</span>
            <%= s.typecode_field form, :class=>'cardtype-field new-cardtype-field' %>
          </span>
        <% end %>
        
        <span class="new-name">
          <span class="label">name:</span>
          <% if card.cardname.blank? || Card.exists?(card.cardname) %>
            <% unless card.setting_card('autoname') %>
              <span class="name-area"><%= raw s.name_field(form) %></span>
            <% end %>
          <% else %>
            <%= hidden_field_tag 'card[name]', card.name %>
            <span class="title"><%= raw fancy_title(card.name) %></span>
          <% end %>
        </span>
      </div>

      <% if instruction=card.setting_card('add help', 'edit help')  %>
        <div class="instruction"><%= raw s.subrenderer(instruction).render_core %></div>
      <% end %>


      <div class="edit-area">
        <div class="editor">
          <% #FIXME CONTENT: the hard template test can go away when we phase out the old sytem %>
          <% if card.content_template %>
            <%= raw s.render(:multi_edit) %>
          <% else %>
            <%= raw s.content_field(form) %>
          <% end %>
        </div>

        <%= s.captcha_tags %>
        <div class="edit-button-area">
          <%= submit_tag 'Submit', :class=>'create-submit-button' %>
          <%= button_tag 'Cancel', :class=>'create-cancel-button', :type=>'button' %>
        </div>
      </div>
    <% end %>

  <%= raw s.notice %>
<% end %>

