<div class="card-header">
  <%= raw slot.menu %>

  <div class="title-menu">
      <%= raw slot.link_to_action raw(fancy_title(card)), 'view', {:view=>'closed'}, 
          :class=>"line-link title down-arrow", :title=>"close #{card.name}" %>

    <% unless card.typecode=='Basic' %>
      <span class="cardtype">
        <%= raw link_to_page( Cardtype.name_for(card.typecode) ) %>
      </span>
    <% end %>

    <%= raw page_icon(card.name) %> &nbsp;
  </div>

  <style type="text/css"><%= ".SELF-#{card.cardname.css_name} .content .namepart-#{card.cardname.css_name} { display: none; }" %></style>
</div>
