<div id="new-card">
  <% if !request.post? %>
    <h1 class="page-header">New <%= card.typecode != 'Basic' ? card.typename : '' %> Card</h1>

    <% @instruction = capture do %>
      <% if card.broken_type %>
        <div class="error" id="no-cardtype-error">
          Oops! There's no <strong>card type</strong> called "<strong><%= card.broken_type %></strong>".
        </div>
      <% end %>
      <% if card.setting_card('add help', 'edit help') %>
        <%# they'll go inside the card %>
      <% elsif !card.cardname.blank? %>
        <div>Currently, there is no card named "<strong><%= card.name %></strong>", but you're welcomed to create it.</div> <%#ENGLISH%>
      <% else%>
        <div>Creating a new card is easy; you just need a unique name.</div>
      <% end %>
    <% end %>

    <% unless @instruction.blank? %>
      <div class="instruction main-instruction">
        <%= @instruction %>
      </div>
    <% end %>
  <% end %>
  <%= render :partial => 'views/new', :locals=>{ :card=>card, :redirect=>(card.setting('thanks') || 'TO_CARD') } %>
</div>





