<%= wrap_slot do |slot| %>
  <%= raw slot.header %>

  <% div(:class=>'submenu') do
     @items.each do |item|
       key = item.to_cardname.to_key
       linktext = item.gsub('*','').gsub('subtab','').strip %>
       <%= link_to linktext, slot.path(:options, :attrib=>key), 
          :html=> { :remote=>true, :class=>'standard-slotter' + (key==@current ? ' current_subtab' : '') } %>
    <% end %>
  <% end %>
  <%= raw slot.notice %>

  <div class="open-content related">
    <%= raw slot.subrenderer(Card.fetch_or_new "#{card.name}+#{@current}").render(:content) %>
  </div>
<% end %>
