<!DOCTYPE html>
<html>
  <body>
    <p>
      <%= @name %></a> (<%= @email %>)
      has <a href="<%= @requests_url %>">requested an account</a>
      on <%= @site %>.
    </p>

    <p>See <a href="<%= @request_url %>"><%= @name %>&#39;s request</a>.</p>

    <p><em>-- the machines running <%= @site %></em></p>
  </body>
</html>
