<%= raw slot.edit_submenu(params[:inclusions] ? :inclusions : :content) %>
<% if inst = card.setting_card('edit help') %>
  <div class="instruction"><%= raw( slot.subrenderer(inst).render :core ) %></div>
<% end %>

<% if card.hard_template and card.hard_template.ok? :read %>
  <div class="instruction">
   Formatted by a <%= link_to_page 'form card', card.hard_template.name %>.  <%#ENGLISH%>
  </div>
<% end %>

<%= div( :id=>slot.id('edit-area'), :class=>"editor edit-area #{card.hard_template ? :templated : ''}" ) do %>
  <%= form_for :card, :url=>"/card/update/#{card.cardname.to_url_key}",
      :html=>{ :class=>'card-form card-edit-form standard-slotter', :id=>(slot.context + '-form'), :remote=>true } do |form| %>
    <div>
      <% slot.form = form %>
      <%= raw( params[:inclusions] ? slot.render_multi_edit : slot.render_edit) %>
    </div>
    <%= raw slot.captcha_tags %>
    <div class="edit-button-area">
      <%= button_to_remote "Delete", { :url=>slot.url_for("card/remove") }, :style=>'float:right'  %>
      <%= submit_tag 'Submit', :class=>'edit-submit-button' %>
      <%= button_tag 'Cancel', :class=>'edit-cancel-button', :type=>'button' %>
    </div>

  <% end %>
<% end %>
