<%- @card ||= slot.card %>
<%= raw slot.edit_submenu(params[:inclusions] ? :inclusions : :content) %>
<% if inst = card.setting_card('edit help') %>
  <div class="instruction"><%= raw( slot.subrenderer(inst).render :core ) %></div>
<% end %>

<% if card.hard_template and card.hard_template.ok? :read %>
  <div class="instruction">
   Formatted by a <%= link_to_page 'form card', card.hard_template.name %>.  <%#ENGLISH%>
  </div>
<% end %>

<%= div( :class=>"card-editor edit-area #{card.hard_template ? :templated : ''}" ) do %>
  <%= form_for :card, :url=>slot.path(:update),
      :html=>{ :class=>'card-form card-edit-form standard-slotter autosave', :remote=>true } do |form| %>
    <div>
      <% slot.form = form %>
      <%= slot.render_edit %>
    </div>
    
    <div class="edit-button-area">
      <% if !card.new_card? %>
        <%= button_tag "Delete", :class=>'edit-delete-button delete-button standard-slotter', :href=>slot.path(:remove), :type=>'button', 'data-type'=>'html' %>
      <% end %>
      <%= submit_tag 'Submit', :class=>'edit-submit-button' %>
      <%= button_tag 'Cancel', :class=>'edit-cancel-button standard-slotter', :href=>slot.path(:view), :type=>'button' %>
    </div>

  <% end %>
<% end %>
