<%- @card ||= slot.card %>
<%= raw slot.edit_submenu :name %>

<%= div(:class=>'edit-area edit-name' ) do %>
  <h2>Change Name</h2>
  <%= form_for :card, :url=>"/card/update/#{@card.id}", 
    :html=>{ :class=>'card-edit-name-form standard-slotter', :remote=>true } do |f| %>
    <div>to <%= raw slot.name_field(f) %></div>

    <% if @card.confirm_rename==true %>

      <% if dependents = @card.dependents and !dependents.empty? %>
        <div class="instruction">
          <div>This will change the names of these cards, too:</div> <%#ENGLISH%>
          <ul>
            <% dependents.map do |dep| %>
              <li><%= link_to_page raw(formal_title dep), dep.name %>
            <% end. join ', ' %>
          </ul>
        </div>
      <% end %>

       <% if children = @card.extended_referencers and !children.empty? %>
        <h2>References</h2>
        <div class="instruction">
          <div>Renaming could break old links and inclusions on these cards:</div> <%#ENGLISH%>
          <ul>
            <% children.map do |child| %>
              <li><%= link_to_page raw(formal_title child), child.name %>
            <% end. join ', ' %>
          </ul>
          <div>You can...
            <div class="radio"><%= f.radio_button :update_referencers, 'true' %>
              <strong>Fix them</strong>: update old references with new name
            </div>
            <div class="radio"><%= f.radio_button :update_referencers, 'false' %>
              <strong>Leave them</strong>: let old references point to old name
            </div>
          </div>
        </div>
      <% end %>
      <%= f.hidden_field 'confirm_rename' %>
    <% end %>

    <%= raw slot.captcha_tags %>
    <%= submit_tag 'Rename', :class=>'edit-name-submit-button' %>
    <%= button_tag 'Cancel', :class=>'edit-name-cancel-button', :type=>'button' %>
  <% end %>
<% end %>
