<%- @card ||= slot.card %>
<%= raw slot.edit_submenu :type %>

<div class="edit-area edit-type">
  <h2>Change Type</h2>
     <%= form_for :card, :url=>"/card/update/#{card.id}", 
      :html=>{ :class=>'standard-slotter card-edit-type-form', :remote=>true }  do |f| %>
       <%= raw slot.captcha_tags %>
       <% if card.typecode == 'Cardtype' and card.extension and !Card.search(:type=>card.cardname).empty? %>
        <div>Sorry, you can't make this card anything other than a Cardtype so long as there are <strong><%= card.name %></strong> cards.</div>  <%#ENGLISH%>
      <% else %>
         <div>to <%= raw slot.typecode_field :class=>'cardtype-field edit-cardtype-field' %></div>
       <% end%>
     <div><%= button_tag 'Cancel', :class=>'edit-type-cancel-button', :type=>'button' %></div>
  <% end %>
</div>