<% wrap_slot do |slot| %>
  <%= raw slot.edit_submenu :type %>

  <div class="edit-area edit-type">
    <h2>Change Type</h2>
       <% form_for_card :url=>slot.url_for('card/update'),
           :update=>{:success=>slot.id('card-body'), :failure=>"javascript:getNextElement(this,'notice')" } do |f| %>
         <%= slot.captcha_tags %>
         <% if card.typecode == 'Cardtype' and card.extension and !Card.search(:type=>card.cardname).empty? %>
          <div>Sorry, you can't make this card anything other than a Cardtype so long as there are <strong><%= card.name %></strong> cards.</div>  <%#ENGLISH%>
        <% else %>
           <div> to <%= slot.typecode_field f, :onchange=>'this.form.onsubmit();' %></div>
         <% end%>
       <div><%= button_to_remote 'Cancel', :url=>slot.url_for('card/edit'), :update=>slot.id %></div>
    <% end %>
  </div>
<% end %>
