<%-
email = params[:email] || {}
subject = email[:subject] || Card.setting('*invite+*subject') || ''
message = email[:message] || Card.setting('*invite+*message') || ''
NameLogic.substitute!( message, {
  :invitor => Session.user_card.name + " (#{Session.user.email})",
  :invitee => card.name || ''}
)

div_id = "main-body"
-%>  

<h1 class="page-header">Invite A Friend</h1> <%#ENGLISH%>


<%= wrap_slot do |slot| %>

  <iframe id="iframe-<%= div_id %>" height="0" width="0" frameborder="0"></iframe>

  <style> .fieldset td.help { width: 30% ;} </style>


  <%= form_for :email, :action=>@action do |f| %>
    
    <%= hidden_field_tag 'element', "#{div_id}"  %>

    <%= raw error_messages_for( @user ) %>

    <table class="fieldset">
      <% if card.cardname.blank? %>
        <tr>
          <td class="label"><label for="name">Name</label></td>
          <td class="field">
            <%= text_field( :card, :name, {:class=>'new-card-name', :id=>"new-card-name-field", :autocomplete=>'off'} )%>
          </td>
          <td class="help"><strong>Title for user's card</strong><br/> Usually a full name.</td><%#ENGLISH%>
        </tr>
        <tr>
          <td class="label"><label for="email">Email</label></td>
          <td class="field"><%= text_field :user,:email %></td>
          <td class="help"><strong>To verify account</strong><br/> Not to spam</td> <%#ENGLISH%>
        </tr>
        
      <% else %>
        <tr><td colspan="3" class="accept-request-intro" style="text-align: center"> 
          <em>Accept Account Request from:<em> <strong><%= link_to_page card.name %></strong><%#ENGLISH%>
          <%= hidden_field( :card, :key ) %>
          <%= hidden_field( :user, :email ) %>
          
        </td></tr>
      <% end %>
     
      <tr>
        <td class="label"><label for="subject">Subject</label></td><%#ENGLISH%>
        <td class="field" colspan="2"><%= f.text_field :subject, :value=>subject,  :size=>60  %></td>
      </tr>                  
      <tr>
        <td class="label"><label for="message">Message</label></td><%#ENGLISH%>
        <td class="field" colspan="2"><%= f.text_area :message, :value=>message, :rows=>15, :cols => 60  %></td>
      </tr>
      
      <tr>
        <td></td>
        <td class="help" colspan="2">We'll create a password and attach it to the email.</td>     <%#ENGLISH%>              
      </tr>
                    
      <tr>
        <td></td>
        <td colspan="2">
          <%= submit_tag 'Invite' %>
          <!--FIXME with css?-->&nbsp;&nbsp;
          <%= link_to 'Cancel', previous_location  %>
        </td>
      </tr>
      
      <tr><td></td><td colspan="2"><%= raw( slot.notice ) %></td></tr>
    
    </table>    

  <% end %>
<% end %>
