<%-
email = params[:account] || {}
subject = email[:subject] || Card.setting('*invite+*subject') || ''
message = email[:message] || Card.setting('*invite+*message') || ''
SmartName.substitute!( message, {
  :invitor => Account.current.name + " (#{Account.current.account.email})",
  :invitee => card.name || ''}
)

div_id = "main-body"
-%>


<iframe id="iframe-<%= div_id %>" height="0" width="0" frameborder="0"></iframe>

<%= wrap_slot do |slot| %>

  
  <div class="card-header">
    <h1>Invite a Friend</h1>
    <% if card.known? %>
      <%= raw( slot._render :help, :text=>"Accept account request from: #{link_to_page card.name}" ) %>
    <% end %>
  </div>

  <%= form_for :card, :action=>params[:action] do |f| %>
    <%- slot.form = f %>
    <div class="card-body">
      <%= hidden_field_tag 'element', "#{div_id}"  %>

      <%= raw error_messages_for( @card ) %>

      <% if !card.known? %>
        <%= raw slot._render_name_editor( :help=>'usually first and last name' ) %>
        <%= raw slot.fieldset( :email, text_field( :account, :email, :size=>60 ) ) %>
      <% else %>
        <%= hidden_field( :card, :key ) %>
        <%= hidden_field( :account, :email ) %>
      <% end %>
      
      <%= raw slot.fieldset( :subject, text_field( :email, :subject, :value=>subject, :size=>60 ) ) %>
      
      <%= raw slot.fieldset( :message, text_area( :email, :message, :value=>message, :rows=>15, :cols => 60 ),
        :help => "We'll create a password and attach it to the email." ) %>
    </div>
          
    <fieldset>
      <div class="button-area">      
        <%= submit_tag 'Invite' %>
        <%= link_to 'Cancel', previous_location  %>
      </div>
    </fieldset>

    <%= raw( slot.notice ) %>

  <% end %>
<% end %>
