<div id="sign-in" class="content">
  <h1 class="page-header">Sign In</h1><%#ENGLISH%>

  <%= form_tag :action=>'signin' do %>
    <p><label for="login">Email</label></p>
    <p><%= text_field_tag 'login', params[:login], :id=>'login_field' %></p>
    <p><label for="password">Password</label></p>
    <p><%= password_field_tag 'password' %></p>
    <p><%= submit_tag 'Sign me in' %></p>
  <% end %>
  <p>&nbsp;</p>

  <h2 class="page-header">Forgot your password?</h2><%#ENGLISH%>
  <%= error_messages_for @user %>
  <%= form_tag :action=>'forgot_password' do %>
    <p><label for="email">Email</label></p>
    <p><%= text_field_tag 'email', params[:email] %></p>

    <p><%= submit_tag 'Reset my password' %></p>
  <% end %>
  <p>&nbsp;</p>

  <% if Card.new(:typecode=>'account_request').ok?(:create) %>
    <h2 class="page-header">Need an Account?</h2><%#ENGLISH%>
    <p><%= link_to 'Sign Up!', :action=>'signup' %></p>
  <% end %>

</div>
