<div id="sign-in">
  <%= wrap_slot do |slot| %>
    <div class="card-header"><h1>Sign In</h1></div>

    <%= form_tag :action=>'signin' do %>    
      <div class="card-body">
        <%= raw slot.fieldset( :email, text_field_tag( 'login', params[:login], :id=>'login_field' ) ) %>
        <%= raw slot.fieldset( :password, password_field_tag( 'password' ) ) %>
      </div>  
    
      <fieldset>
        <div class="button-area">
          <%= submit_tag 'Sign in' %>
          <%= link_to '...or sign up!', :action=>'signup' if Card.new(:typecode=>'account_request').ok?(:create) %>
        </div>
      </fieldset>
    <% end %>
  <% end %>
</div>

<div id="forgot-password">
  <%= wrap_slot do |slot| %>
    <div class="card-header"><h1>Forgot Password</h1></div>

    <%= form_tag :action=>'forgot_password' do %>
      <div class="card-body">
        <%= error_messages_for @card %>
        <%= raw slot.fieldset( :email, text_field_tag( 'email', params[:email] ) ) %>
      </div>
    
      <fieldset><div class="button-area"><%= submit_tag 'Reset my password' %></div></fieldset>
    <% end %>
  <% end %>
</div>
