<div id="signup-form">
  <%- div_id = "main-body"-%>
  <%# iframe for file / image uploads?? %>
  <iframe id="iframe-<%= div_id %>" height="0" width="0" frameborder="0"></iframe>

  <%= wrap_slot do |slot| %>
  
    <div class="card-header">
      <h1>Sign Up</h1>

      <% if card.rule_card(:add_help, :fallback=>:help) %>
        <%= raw( slot._render :help, :setting=>:add_help ) %>
      <% else %>
        <%= raw( slot._render :help, :text => ( Account.create_ok? ? 
          'Send us the following, and we\'ll send you a password.' : 
          'All Account Requests are subject to review.' ) ) %>
      <% end %>
    </div>


    <%= form_for :card, slot.form_opts(wagn_path( '/account/signup' ), 'card-form') do |f| %>
      <%= hidden_field_tag 'element', "#{div_id}"  %>
      <%= f.hidden_field :type_id  %>
      <%- slot.form = f %>

      <div class="card-body">      
        <%= raw slot._render_name_editor( :help=>'usually first and last name' ) %>
        <%= raw slot.fieldset( :email, text_field( :account, :email ) ) %>
        <%= raw( slot.with_inclusion_mode(:new) { slot.edit_slot :label=>'other' } ) %>
      </div>
      
      <fieldset><div class="button-area"><%= submit_tag 'Submit' %></div></fieldset>

      <%= raw( slot.notice ) %>

    <% end %>
  <% end %>
</div>
